# Core runtime defaults
POSTFIX_RUNTIME_LOG_TO_STDOUT=true
POSTFIX_RUNTIME_HOSTNAME=mail.example.org
POSTFIX_RUNTIME_DOMAIN=example.org
POSTFIX_RUNTIME_DESTINATIONS=mail.example.org, localhost.example.org, localhost
POSTFIX_RUNTIME_MYNETWORKS=127.0.0.0/8 [::1]/128
POSTFIX_RUNTIME_AUTO_POSTMAP_STANDARD=true
POSTFIX_RUNTIME_POSTMAPS=lmdb:/etc/postfix/maps/transport
POSTFIX_RUNTIME_TLSRPT_SOCKET_NAME=run/tlsrpt/tlsrpt.sock

# Common main.cf overrides
POSTFIX_inet_protocols=all
POSTFIX_smtpd_tls_security_level=may
POSTFIX_smtp_tls_security_level=may
POSTFIX_smtpd_tls_cert_file=/etc/postfix/certs/tls.crt
POSTFIX_smtpd_tls_key_file=/etc/postfix/certs/tls.key
POSTFIX_smtpd_tls_CAfile=/etc/postfix/certs/ca.crt
POSTFIX_smtpd_relay_restrictions=permit_mynetworks permit_sasl_authenticated defer_unauth_destination
POSTFIX_transport_maps=lmdb:/etc/postfix/maps/transport
POSTFIX_smtp_tlsrpt_enable=yes

# Example master.cf overrides
# __ becomes /
# ___ becomes -
POSTFIXMASTER_submission__inet__syslog_name=postfix/submission
POSTFIXMASTER_submission__inet__smtpd_tls_security_level=encrypt
POSTFIXMASTER_submissions__inet__syslog_name=postfix/submissions
